@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.titulos{
    text-emphasis: center;
    font-family: "Playfair Display", serif;
    text-shadow: 2px 2px 3px #ffffff;
}
.texto{
  font-family: "Quicksand", sans-serif;
  
}
body {
  font-family: "Jost", sans-serif;
  background-color: #f3c2ea;
  
}
.info {
  margin: 6px 0;
  font-size: 0.95rem;
}
.iconos {
  width: 30px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 10px;
}
a.link {
  color: #010101;
  text-decoration: none;
  position: relative;
  transition: color 0.1s
}
a.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background: #e513bb;
  transition: width 0.3s;
}

.link:hover {
  color: #d18ac5;
}

a.link:hover::after {
  width: 100%;
}


h2.titulos {
  background-color: #e98fd4;
  text-align: center;
  padding: 5px;
  border-radius: 70px;
  margin-top: 20px;
  font-size: 18px;
}
.skills,
.idioma {
  background: #f1f1f1;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  
}

.skills:hover,
.idioma:hover {
  background: #e6d0f1;
}
/* Imagen circular */
.imagen-circular {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius:90%;
  border: 5px solid #e98fd4;
  margin-bottom: 15px;
  
}

/* Tabla principal */
table {
  border:color
  
}

/* Columnas */
td {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  vertical-align: top;
  border-radius: 10px;
  
}



td table td {
  padding: 10px;
  border: none;
}
.video {
  width: 60%;
  border-radius: 12px;
  
 
}


